@charset "utf-8";

.l-header {
  width: calc(100% - 200px);
  position: fixed;
  height: 80px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  top: 0;
  background-color: $white;
  color: $dark-green;
  &__logo {
    width: 300px;
    font-size: 24px;
    & a:link,
    a:visited {
      color: inherit;
    }
  }
  & .global-nav {
    margin-left: auto;
    & ul {
      display: flex;
      justify-content: center;
      vertical-align: center;
      & li {
        padding: 0 2.5em;
        & a:link,
        a:visited {
          color: $dark-green;
        }
      }
    }
  }
}

/** topページのみ透過背景から白背景に変更*/
.home > .l-header {
  color: $white;
  background-color: rgba($color: $white, $alpha: 0);
  & .global-nav {
    & ul {
      & li {
        & a,
        a:link,
        a:visited {
          color: $white;
        }
      }
    }
  }
  &.change-color {
    background-color: $white;
    transition: 0.6s;
    color: $dark-green;
    & .global-nav {
      & ul {
        & li {
          & a,
          a:link,
          a:visited {
            color: $dark-green;
          }
        }
      }
    }
  }
}
