.p-works {
  font-size: 16px;
  color: $black;
  width: 100%;
  & .container {
    padding: 30px 5%;
    & .lead,
    .heading {
      text-align: center;
      margin-top: 10px;
    }
    & .category {
      display: flex;
      & li {
        padding-left: 3em;
      }
    }
    & .img-box {
      width: 400px;
      height: 300px;
      text-align: center;
      margin: 0 auto;
      display: inline-block;
      & img {
        height: 100%;
      }
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
    gap: 15px 8px;
    & li {
      display: flex;
      flex-direction: column;
    }
  }
}
